label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/*
.header {
  width: 100%;
  height: 60px;
  padding-top: 5px;
  padding-bottom: 25px;
  border-bottom: 1px solid white;
}*/

/*
.nav-item {
  font-weight: bolder;
  display: inline;
  float: right;
  width:120px;
  text-align: center;
  padding-right: 25px;
}

.header-links{
  padding-top: 5px;
  display: block;
  /*background-color: #7a4195;*/
/*text-decoration: none;
  color: white;
}

.header-links:hover{
  color:red;
}

*/
.bg{
  background-image: url("crop.jpeg");
}

.App {
  padding: 0;
  margin: 0;
  height: 100vh;
}

.Sidebar {
  border-right: 1px solid black;
  height: auto;
  width: 200px;
  position: fixed;
  overflow-x: hidden;
  margin-left: -75px;
}

.SidebarList {
  text-align: left;
  height: auto;
  width: 100%;
}

.SidebarList .row {
  list-style-type: none;
  float: left;
  padding-right: 100%;
  padding-bottom: 10px;
  font-size: 20px;
  color: black;
  border: none;
  cursor: pointer;
}

.SidebarList .row:hover {
  color: red;
  cursor: pointer;
}


.gyik {
  margin-left: 10em;
  margin-right: 2em;
}

.bg {
  background-image: url("./pexels-anush-gorak-1229356.jpg");
  height: 90vh;
  width: 70vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  background-color: black;
}
